.header{
  height: 80px;
  width: 100%;
  display: flex;
  line-height: 80px;
  border-bottom: solid 1px $border-color;
  &__logo{
    margin-left: 20px;
    width: 30%;
    font-size: 1.6em;
    font-weight: bold;
    a{
      text-decoration: none;
      color: $tech-reserve;
    }
    img{
      width: 50%;
      height: auto;
    }
  }
  &__message{
    margin-left: 20px;
    color: $gray;
    a{
      text-decoration: none;
      color: $tech-reserve;
      font-weight: bold;
    }
  }
  &__login{
    margin-left: 100px;
    a{
      text-decoration: none;
      color: $black;
    }
  }
  &__output-index{
    margin-left: 100px;
    a{
      text-decoration: none;
      color: $black;
    }
  }
}