.top-main{
  height: calc(100vh - 160px);
  width: 100%;
  display: flex;
  &__image{
    width: 40%;
    background-image: image-url('home.jpg');
    background-size:cover;
  }
  &__text{
    width: 60%;
    padding-left: 50px;
    h1{
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 50px;
    }
    h2{
      font-size: 1.5em;
      font-weight: bold;
    }
    p{
      margin-top: 50px;
      color: $gray;
      a{
        text-decoration: none;
        color: $tech-reserve;
      }
    }
  }
  &__signup{
    margin-top: 50px;
    display: flex;
    a{
      text-decoration: none;
      color: $white;
    }
    .btn-guest{
      @include btn-default($tech-reserve);
    }
    .btn-registration{
      margin-left: 50px;
      @include btn-default($orange);
    }
  }
}