.index-main{
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  // サイドバー
  &__side-bar{
    height: 100%;
    width: 20%;
    background-color: $tech-reserve;
    .side-bar-header{
      @include index-header($tech-reserve);
      color: white;
      i{
        padding-left: 5px;
        font-size: 0.5em;
      }
    }
    .side-bar-index{
      height: calc(100% - 61px);
      background-color: $tech-reserve;
      ul{
        width: 100%;
        list-style: none outside;
        padding-top: 10px;
        li{
          width: 40%;
          float: left;
          margin: 5px;
        }
      }
      &__name{
        a{
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  &__comments{
    height: 100%;
    width: 80%;
    background-color: $white;
    .comments-header{
      @include index-header($white);
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }
    .comments-main{
      height: calc(100% - 61px);
      background-color: $white;
      overflow: auto;
      .comment{
        padding: 20px 0 20px 0;
        border-bottom: solid 1px $border-color;
        &:hover{
          background-color: $border-color;
        }
        &__head{
          padding: 0 0 10px 50px;
          display: flex;
          height: 15px;
          line-height: 15px;
          &--nickname{
            font-size: 0.9em;
            font-weight: bold;
            width: 10%;
          }
          &--time{
            font-size: 0.8em;
            color: $gray;
            margin-left: 15px;
            width: 10%;
          }
          &--learning-time{
            margin-left: 50px;
            display: flex;
            h1{
              font-size: 0.9em;
              font-weight: bold;
            }
            h2{
              font-size: 0.9em;
              margin-left: 15px;
            }
          }
        }
        &__text{
          padding-left: 50px;
        }
      }
    }
  }
}