.index-main{
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  // サイドバー
  &__side-bar{
    height: 100%;
    width: 25%;
    background-color: $tech-reserve;
    .side-bar-header{
      @include index-header($tech-reserve);
      a{
        @include link_decoration($white);
      }
      i{
        padding-left: 5px;
        font-size: 0.5em;
      }
    }
    .side-bar-index{
      height: calc(100% - 61px);
      background-color: $tech-reserve;
      ul{
        width: 100%;
        list-style: none outside;
        padding-top: 10px;
        li{
          width: 40%;
          float: left;
          margin: 5px;
        }
      }
      &__name{
        a{
          @include link_decoration($white);
        }
      }
    }
  }

  &__comments{
    height: 100%;
    width: 100%;
    background-color: $white;
    .comments-header{
      @include index-header($white);
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }
    .comments-main{
      height: calc(100% - 61px);
      background-color: $white;
      overflow: auto;
      .comment{
        padding: 20px 0 20px 0;
        border-bottom: solid 1px $border-color;
        display: flex;
        &:hover{
          background-color: $border-color;
        }
        &__image{
          width: 60px;
          height: 60px;
          padding-left: 20px;
          img{
            @include image-circle(50px);
          }
        }
        &__edit{
          color: $gray;
          margin: 10px 0 0 0;
          cursor: pointer;
        }
        &__list{
          display: none;
          a{
            text-decoration: none;
            color: $tech-reserve;
            font-weight: bold;
          }
          li{
            width: 80%;
            border-bottom: solid 1px $tech-reserve;
          }
        }

        &__head{
          padding: 0 0 10px 5px;
          display: flex;
          height: 15px;
          line-height: 15px;
          &--nickname{
            font-size: 0.9em;
            font-weight: bold;
            a{
              @include link_decoration($black);
            }
          }
          &--time{
            font-size: 0.8em;
            color: $gray;
            margin-left: 15px;
          }
          &--learning-time{
            margin-left: 50px;
            display: flex;
            h1{
              font-size: 0.9em;
              font-weight: bold;
            }
            h2{
              font-size: 0.9em;
              margin-left: 15px;
            }
          }
        }
        &__text{
          padding-left: 5px;
        }
        &__goods{
          margin-top: 20px;
          .icon-on{
            color: $blue;
            text-decoration: none;
          }
          .icon-off{
            color: $gray;
            text-decoration: none;
          }
        }
        &__categories{
          list-style: none;
          margin-top: 20px;
          font-weight: bold;
          a{
            @include link_decoration($tech-reserve);
          }
          li{
            display: inline-block;
            margin-right: 20px;
            border-bottom: solid 1px $tech-reserve;
          }
        }
      }
    }
  }
}