@mixin btn-default($color){
  display: block;
  width: 25%;
  height: 50px;
  background-color: $color;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
}

@mixin index-header($color){
  height: 60px;
      padding-left: 20px;
      line-height: 60px;
      background-color: $color;
      border-bottom: solid 1px $border-color;
}

@mixin form-btn($color){
  margin-top: 30px;
  width: 70%;
  height: 50px;
  background-color: $color;
  border: solid 1px $border-color;
  border-radius: 0.5em;
  color: $white;
}