= render 'shared/header'
.mypage
  = render 'side_bar'
  .mypage__comments
    .mypage-form__header
      いいね!一覧
    .index-main__comments
      - if @comments.present?
        = render 'categories/comment'
      - else
        .mypage__nothing
          いいね！はまだありません。
  